<% provide(:title, 'Home') %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="snapshot_form">
        <%= render 'shared/snapshot_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Snapshot Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to Orbit</h1>
  <h2>
    This is the homepage of the Orbit applcation. You can find the codebase for this application at
    <a href="https://github.com/tstaunton/orbit001">my GitHub account.</a>
  </h2>

  <%= link_to "Create an account", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
